html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

.nav {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  top: 0;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.nav img {
  height: 50px;
  margin-left: 10px;
}

.links {
  margin-right: 20px;
}

li {
  display: inline;
  margin: 0px 5px;
}

a {
  color: seashell;
}

.mission {
  display: flex;
  padding-top: 69px;
  margin: auto;
  height: 700px;
  max-width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  align-items: center;
}

.blackbar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

.missionstatement {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 50px 0px;
}

.month {
  width: 100%;
  text-align: center;
}

.featurebox {
  max-height: 240px;
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.featurebox h4 {
  margin-top: 10px;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 500px;
  max-width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin: auto;
  align-items: center;
}

.txtbox {
  width: 100%;
  text-align: center;
}

.locationbox {
  flex-basis: 300px;
  flex-flow: column wrap;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.contact {
  max-height: 200px;
  width: 100%;
  text-align: center;

}

footer {
  text-align: left;
  margin: 20px;
}
